body{
    width:100%;
    height: 100%;
    background: #b6f0dc;
}
.back{
    width: 60%;
    height: 150px;
    border-radius: 30px 30px 0 0;
    background: #f3c4c4;
    margin: 0 auto;
}
.inputline{
    width: 80%;
    margin: 0 auto;
}
.inbtn{
    background: lightblue;
    transition: 0.1s ease-in;
    border-radius: 10px;
}
.inbtn:hover{
    transform: scale(1.05);
    background: gold;
}
.delbtn{
    background: orange;
    transition: 0.1s ease-in;
    border-radius: 5px;
    height: 40px;
}
.delbtn:hover{
    transform: scale(1.03);
    background: rgb(241, 60, 60);
    color: yellow;
}
.indiv{
    transition: 0.1s ease-in;
}
.indiv:hover{
    transform: scale(1.03);
    background-color: rgb(72, 72, 235);
    box-shadow: 2px 2px 2px 0;
}

