.a {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 100px;
}
tr,td,th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 30px;
}
tr:nth-child(even) {
    background-color: yellow;
}
th {
    background-color: aqua;
}
